/* Basic reset */
body {
    font-family: Arial, sans-serif;
    background-color: #e8eaec;
}

/* Container */
.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(243, 233, 233);
    border-radius: 8px;
}

/* Heading */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form elements */
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

/* Button */
button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #17d214;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #f3f4f3;
}